.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 199;
}

.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.modal-body img {
  margin-top: 40px;
  width: 75%;
  height: auto;
}

.btn-close {
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 222;
}
