.splide__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;

  @include mobile {
    padding: 0;
  }

  a {
    height: 80%;
    @include mobile {
      height: 100%;
    }
  }
}

.splite__slide-wrapper {
  margin-top: 10px;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    @include mobile {
      object-fit: contain;
    }
  }
}

.splide__pagination {
  bottom: -1em !important;
  @include mobile {
    bottom: -1rem !important;
  }
}

.splide__slide-descr {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 20%;

  @include mobile {
    display: none;
  }
}

.splide__slide-title,
.splide__slide-tools {
  font-weight: 500;
  font-size: 18px;
  color: var(--neutral-gray202020);
  margin-top: 10px;
}

.splide__pagination__page {
  width: 14px !important;
  height: 14px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
  @include mobile {
    width: 8px !important;
    height: 8px !important;
  }
}

.splide__pagination__page.is-active {
  background: var(--neutral-graydfdfdf) !important;
}

.splide__arrow--next {
  right: 10px !important;
  background: #c7f5ff !important;
}
.splide__arrow--prev {
  left: 10px !important;
  background: #c7f5ff !important;
}

.splide__arrow svg {
  fill: #335fda !important;
  &:hover {
    fill: #050176;
  }
}
