@charset "UTF-8";
/* Base */ /* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

:root {
  --container-width: 1200px;
  --container-padding: 15px;
  --font-main: "Montserrat", sans-serif;
  --font-accent: "Montserrat", sans-serif;
  --font-titles: var(--font-accent);
  --page-bg: #fff;
  --text-color: #000;
  --accent: #ac182c;
  --link-color: #030ad2;
  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
  --primary: #748c70;
  --black: #0c0c0c;
  --white: #fff;
  --primary-primary25: #f0f2ef;
  --primary-primary50: #d1d9cf;
  --primary-primary100: #b2bfaf;
  --primary-primary200: #a2b39f;
  --primary-primary300: #93a690;
  --primary-primary400: #839980;
  --primary-primary-600: #5a6d57;
  --primary-primary-700: #404e3e;
  --primary-primary750: #343e32;
  --primary-primary800: #272f25;
  --primary-primary900: #0d100c;
  --neutral-backgroundfaf9f5: #faf9f5;
  --neutral-graydfdfdf: #dfdfdf;
  --neutral-grayededed: #ededed;
  --neutral-grayf9f9f9: #f9f9f9;
  --neutral-graycbcbcb: #cbcbcb;
  --neutral-grayadadad: #adadad;
  --neutral-gray868686: #868686;
  --neutral-gray606060: #606060;
  --neutral-gray404040: #404040;
  --neutral-gray202020: #202020;
  --neutral-gray0c0c0c: #0c0c0c;
  --state-color-warning-bg: #f7e4c9;
  --state-color-warning-light: #ecbb77;
  --state-color-warning: #e09126;
  --state-color-error-bg: #fff2f2;
  --state-color-error-light: #ed2e2e;
  --state-color-error: #c30000;
  --state-color-success-bg: #f3fdfa;
  --state-color-success-light: #00ba88;
  --state-color-success: #00966d;
  --font-family: "Montserrat", sans-serif;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
  background-color: rgb(39, 39, 39);
}

body {
  background-color: var(--page-bg);
  color: var(--text-color);
  font-family: var(--font-main);
  text-wrap: balance;
}

img {
  display: block;
}

a {
  color: var(--link-color);
}

code {
  background-color: #e9f1f6;
  padding: 0.2rem;
  border-radius: 4px;
}

pre.code {
  overflow-x: auto;
  background-color: #e9f1f6;
  padding: 1rem;
  border-radius: 4px;
}

.docs {
  display: grid;
  line-height: 1.5;
}
.docs p {
  margin: 1rem 0;
}
.docs ul,
.docs ol {
  padding-left: 2rem;
}
.docs ul li,
.docs ol li {
  list-style: disc;
  margin-bottom: 0.5rem;
}
.docs ol li {
  list-style: decimal;
}
.docs section, .docs section.docs {
  padding: 40px 0;
}
.docs section + section {
  border-top: 1px solid #dae5e9;
}
.docs small {
  font-size: 1rem;
  color: rgb(172, 172, 172);
}
.docs .title-1:first-child,
.docs .title-2:first-child {
  margin-top: 0 !important;
}

.test {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  background-color: #999;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("./../img/project-02.jpg");
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .test {
    background-image: url("./../img/project-02@2x.jpg");
  }
}

.test-2 {
  width: 600px;
  height: 300px;
  margin: 50px auto;
  background-color: #999;
  background-position: center center; /* x y */
  background-size: cover;
  background-repeat: no-repeat;
  background-image: image-set(url("./../img/project-02.jpg") 1x, url("./../img/project-02@2x.jpg") 2x);
}

.font-1 {
  font-family: "Montserrat";
  font-weight: 700;
  font-style: italic;
}

.font-2 {
  font-family: "FirasansBook";
  font-weight: 400;
}

/* Отключить при необходимости */
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.flex-center {
  justify-content: center;
}

/* Демо контент */
.content-demo {
  margin-bottom: 5rem;
  padding: 1rem;
  background-color: #dadada;
}

/* Контейнеры */
.container {
  margin: 0 auto;
  padding: 0 var(--container-padding);
  max-width: var(--container-width);
  width: 100%;
}

.container-full {
  padding: 0 var(--container-padding);
  max-width: 100%;
}

.container-left-50 {
  padding: 0 var(--container-padding);
  max-width: 50%;
}
@media (max-width: 780px) {
  .container-left-50 {
    max-width: 100%;
  }
}

.container-right-50 {
  padding: 0 var(--container-padding);
  max-width: 50%;
  margin-left: auto;
}
@media (max-width: 780px) {
  .container-right-50 {
    max-width: 100%;
  }
}

.container-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1274px) {
  .container-right {
    padding-left: var(--container-padding);
  }
}

.container-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1274px) {
  .container-left {
    padding-right: var(--container-padding);
  }
}

.container-half-left {
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-width) / 2);
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1274px) {
  .container-half-left {
    padding-left: var(--container-padding);
  }
}
@media (max-width: 780px) {
  .container-half-left {
    padding: 0 var(--container-padding);
  }
}

.container-half-right {
  padding-left: calc((100% - var(--container-width)) / 2 + var(--container-width) / 2);
  padding-right: calc((100% - var(--container-width)) / 2 + var(--container-padding));
}
@media (max-width: 1274px) {
  .container-half-right {
    padding-right: var(--container-padding);
  }
}
@media (max-width: 780px) {
  .container-half-right {
    padding: 0 var(--container-padding);
  }
}

html, body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
}

.footer {
  padding: 60px 0;
  background-color: #e3e3e3;
}

/* Blocks */
.account {
  display: flex;
  align-items: center;
  gap: 24px;
}
@media (max-width: 1274px) {
  .account {
    gap: 12px;
  }
}
.account a {
  display: inline-block;
  transition: all 0.2s ease-in;
}
.account a:hover {
  background: var(--neutral-grayededed);
}

@media (max-width: 780px) {
  .account__search {
    display: none;
  }
}

.account__menu {
  display: none;
}
@media (max-width: 780px) {
  .account__menu {
    display: block;
  }
}

.card {
  position: relative;
  margin: 0 5px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
@media (max-width: 780px) {
  .card {
    height: 100%;
  }
}

.card__body {
  padding: 5.5px 8px;
  display: grid;
  gap: 8px;
  background-color: var(--state-color-success-bg);
}
@media (max-width: 780px) {
  .card__body {
    padding: 0 5px;
    height: 25%;
    gap: 4px;
  }
}

.card__picture {
  overflow: hidden;
  height: 277px;
}
@media (max-width: 780px) {
  .card__picture {
    height: 75%;
  }
}
.card__picture img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@media (max-width: 780px) {
  .card__picture img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.card__title {
  margin-top: 5px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 140%;
  text-transform: capitalize;
  color: var(--black);
}
@media (max-width: 780px) {
  .card__title {
    font-weight: 600;
    font-size: 12px;
    line-height: 110%;
  }
}
.card__title a {
  color: var(--neutral-gray202020);
}
.card__title a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.card__cols {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 12px;
}
@media (max-width: 780px) {
  .card__cols {
    flex-wrap: wrap;
  }
}

.card__desc {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 180%;
  text-transform: capitalize;
  color: var(--neutral-gray202020);
}
@media (max-width: 780px) {
  .card__desc {
    font-weight: 400;
    font-size: 12px;
    line-height: 100%;
  }
}

.card__price {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 180%;
  text-transform: capitalize;
  color: var(--neutral-gray202020);
  text-align: right;
}
@media (max-width: 780px) {
  .card__price {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
  }
}

.card__colors {
  display: flex;
  align-items: center;
  gap: 8px;
}

.color {
  width: 24px;
  height: 24px;
  background-color: grey;
  border-radius: 50%;
  z-index: 9;
}
@media (max-width: 1274px) {
  .color {
    width: 16px;
    height: 16px;
  }
}

.color--black {
  background-color: var(--black);
}

.color--blue {
  background-color: #7dc3eb;
}

.color--green {
  background-color: var(--primary);
}

.color--olive {
  background-color: #909225;
}

.color--darkblue {
  background-color: #19418e;
}

.color--pink {
  background-color: #d0a5ea;
}

.color--white {
  background-color: #fff;
  border: 1px solid #d0d0d0;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 199;
}

.show {
  display: block;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-body {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  max-width: 100%;
}

.modal-body img {
  margin-top: 40px;
  width: 75%;
  height: auto;
}

.btn-close {
  position: absolute;
  top: 3%;
  right: 5%;
  z-index: 222;
}

.footer {
  margin-top: 88px;
  padding: 24px 0;
  background-color: #dcffff;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 180%;
  color: var(--neutral-gray404040);
}
@media (max-width: 780px) {
  .footer {
    margin-top: 50px;
    padding: 12px 0;
    line-height: 140%;
  }
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 3fr 1fr;
  padding-right: 50px;
}
@media (max-width: 780px) {
  .footer-wrapper {
    grid-template-columns: 1fr;
  }
}

.footer__address {
  font-size: 20px;
  font-weight: 500;
  color: var(--neutral-gray0c0c0c);
  flex-shrink: 1;
}
@media (max-width: 780px) {
  .footer__address {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 10px;
  }
}

.footer__links div {
  display: flex;
}
.footer__links div p {
  width: 85px;
  font-size: 14px;
  font-weight: 700;
}
@media (max-width: 780px) {
  .footer__links div p {
    font-size: 14px;
    font-weight: 500;
  }
}
.footer__links div a {
  color: var(--neutral-gray0c0c0c);
  font-weight: 600;
}
@media (max-width: 780px) {
  .footer__links div a {
    font-size: 12px;
    font-weight: 400;
    word-break: break-word;
  }
}

.footer__links-github {
  display: flex !important;
}
@media (max-width: 780px) {
  .footer__links-github {
    display: none !important;
  }
}

.footer__links-github-mobile {
  display: none !important;
}
@media (max-width: 780px) {
  .footer__links-github-mobile {
    display: flex !important;
  }
}

.header {
  position: absolute;
  right: 0;
  z-index: 199;
  padding: 16px 0 18px;
  width: 100%;
  background-color: transparent;
}
.header__row {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 780px) {
  .header {
    padding: 4px 0 8px;
  }
}
@media (max-width: 780px) {
  .header div {
    padding: 0;
  }
}

.header__logo {
  flex-shrink: 0;
}
.header__logo img {
  height: 28px;
}

.header__nav {
  margin-left: auto;
}

.header__account--first {
  margin-right: 24px;
}
@media (max-width: 1274px) {
  .header__account--first {
    margin-right: 12px;
  }
}
@media (max-width: 780px) {
  .header__account--first {
    order: -1;
    margin-left: unset;
  }
}

.header__nav-btn {
  display: none;
}

#backToTopBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0.7;
  border-radius: 50%;
  text-align: center;
  line-height: 40px;
  transition: all 0.3s ease;
}
#backToTopBtn:hover {
  transform: scale(1.05);
  opacity: 1;
  background-color: rgb(255, 255, 255);
}

.hero {
  height: 600px;
  padding-bottom: 103px;
  background-color: #999;
  background-image: url("./../img/hero/hero.jpg");
  background-position: 30% top;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .hero {
    background-image: url("./../img/hero/hero@2x.jpg");
  }
}
@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 780px), (min-resolution: 192dpi) and (max-width: 780px) {
  .hero {
    background-image: url("./../img/hero/hero-mobile.jpg");
    background-position: left 15%;
  }
}
@media (max-width: 780px) {
  .hero {
    height: 551px;
    padding-bottom: 16px;
  }
}
.hero .container {
  height: 100%;
}

.septagon {
  width: 100%;
  height: 450px;
  background-image: url("./../img/hero/hero-bg1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 100% 85%, 63% 85%, 50% 100%, 36% 85%, 0% 85%);
}
@media (max-width: 1274px) {
  .septagon {
    height: 350px;
  }
}
@media (max-width: 780px) {
  .septagon {
    height: 200px;
  }
}

.hero__content {
  height: 100%;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  gap: 27px;
}
@media (max-width: 780px) {
  .hero__content {
    gap: 7px;
  }
}

.hero__title {
  max-width: 494px;
  margin-top: 200px;
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 700;
  font-size: 34px;
  line-height: 180%;
  text-transform: capitalize;
  color: var(--black);
}
@media (max-width: 1274px) {
  .hero__title {
    margin-top: 100px;
  }
}
@media (max-width: 780px) {
  .hero__title {
    margin-top: 50px;
    max-width: 168px;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
  }
}

.hero__subtitle {
  max-width: 494px;
  margin-left: 120px;
  font-family: var(--font-family);
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  color: var(--primary-primary900);
}
@media (max-width: 780px) {
  .hero__subtitle {
    font-size: 18px;
  }
}

.icons-wrapper {
  padding: 30px 0;
  display: flex;
  column-gap: 30px;
}

.icon {
  fill: transparent;
  stroke: transparent;
  width: 24px;
  height: 24px;
}

.icon--menu {
  fill: #0c0c0c;
}

.icon--search {
  fill: #0c0c0c;
}

.icon--person {
  fill: #0c0c0c;
}

.icon--favorite {
  stroke: #0c0c0c;
  fill: #fff;
}

.icon--bag {
  fill: #0c0c0c;
}

.icon--arrow {
  fill: #0c0c0c;
  width: 12px;
  height: 7.41px;
}

.icon--arrow-left {
  fill: #63adfc;
  width: 36px;
  height: 42px;
}

.icon--postman {
  stroke: #fff;
  fill: rgb(252, 194, 0);
  height: 32px;
}

.icon--insomnia {
  height: 32px;
  stroke: rgb(0, 0, 0);
  fill: rgba(69, 0, 100, 0.4);
}

.icon--arrow-up {
  height: 32px;
  width: 32px;
  fill: red;
  stroke: green;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 780px) {
  .main {
    gap: 16px;
  }
}

.mobile-nav {
  position: fixed;
  overflow-y: auto;
  top: -100%;
  width: 100%;
  height: 100%;
  z-index: 99;
  display: flex;
  flex-direction: column;
  padding: 106px 20px 56px;
  background: #fff;
  transition: all 0.2s ease-in;
}

.mobile-nav--open {
  top: 0;
}

.mobile-nav a {
  color: #000;
}

.mobile-nav__links {
  margin-bottom: 84px;
}

.mobile-links {
  display: grid;
  gap: 32px;
}

.mobile-links__parent {
  border-bottom: 1px solid var(--black);
}

.mobile-links__parent-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-links__parent-title {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  text-transform: capitalize;
  color: var(--black);
}

.mobile-links__parent-btn__icon {
  transition: all 0.2s ease-in;
}

.active .mobile-links__parent-btn__icon {
  transform: rotate(-180deg);
}

.mobile-sub {
  max-height: 0px;
  overflow: hidden;
  transition: all 0.2s ease-in;
}

.mobile-sub-list {
  display: grid;
  gap: 16px;
  padding: 24px 0 16px 35px;
}

.mobile-sub-list__item {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  text-transform: capitalize;
  color: var(--neutral-gray404040);
}

.mobile-sub-list__link {
  display: inline-block;
  width: 100%;
  padding-top: 7px;
  color: var(--neutral-gray404040);
}
.mobile-sub-list__link:hover {
  color: #000;
}

.mobile-nav__btns {
  margin-top: auto;
  border-top: 1px solid var(--neutral-graycbcbcb);
  padding-top: 14px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}

.hide {
  display: none;
}

.mobile-nav__list {
  font-size: 24px;
  font-weight: 500;
}
.mobile-nav__list > li {
  margin-bottom: 20px;
}
.mobile-nav__list > li > a {
  display: block;
  padding: 20px;
  margin: 0 20px;
  color: #00eeee;
  text-decoration: none;
}

/* Nav Icon */
.mobile-nav-btn {
  --time: 0.1s;
  --width: 18px;
  --height: 12px;
  --line-height: 2px;
  --spacing: 3px;
  --color: #0c0c0c;
  --radius: 0px;
  /* Fixed height and width */
  /* height: var(--height); */
  /* width: var(--width); */
  /* Dynamic height and width */
  height: calc(var(--line-height) * 3 + var(--spacing) * 2);
  width: var(--width);
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-icon {
  left: 20px;
  top: 20px;
  position: absolute;
  width: var(--width);
  height: var(--line-height);
  background-color: var(--color);
  border-radius: var(--radius);
}

.nav-icon::before,
.nav-icon::after {
  content: "";
  display: block;
  position: absolute;
  width: var(--width);
  height: var(--line-height);
  border-radius: var(--radius);
  background-color: var(--color);
  transition: transform var(--time) ease-in, top var(--time) linear var(--time);
}

.nav-icon::before {
  /* top: calc(var(--line-height) * -2); */
  top: calc(-1 * (var(--line-height) + var(--spacing)));
}

.nav-icon::after {
  /* top: calc(var(--line-height) * 2); */
  top: calc(var(--line-height) + var(--spacing));
}

.nav-icon.nav-icon--active {
  background-color: transparent;
}

.nav-icon.nav-icon--active::before,
.nav-icon.nav-icon--active::after {
  top: 0;
  transition: top var(--time) linear, transform var(--time) ease-in var(--time);
}

.nav-icon.nav-icon--active::before {
  transform: rotate(45deg);
}

.nav-icon.nav-icon--active::after {
  transform: rotate(-45deg);
}

/* Layout */
.mobile-nav-btn {
  z-index: 999;
}

.nav {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 18px;
  line-height: 180%;
  text-transform: capitalize;
  text-align: center;
  color: var(--neutral-gray404040);
}
@media (max-width: 1274px) {
  .nav {
    font-size: 16px;
  }
}
@media (max-width: 780px) {
  .nav {
    font-size: 12px;
  }
}

.nav__list {
  display: flex;
  column-gap: 30px;
}
@media (max-width: 1274px) {
  .nav__list {
    column-gap: 15px;
  }
}
@media (max-width: 780px) {
  .nav__list {
    display: none;
    column-gap: 4px;
  }
}
.nav__list a {
  color: var(--link-color);
  font-weight: 500;
}
.nav__list a.active {
  color: #000000;
  font-weight: 500;
  border-bottom: 1px solid #000000;
}

.splide__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 50px;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
@media (max-width: 780px) {
  .splide__slide {
    padding: 0;
  }
}
.splide__slide a {
  height: 80%;
}
@media (max-width: 780px) {
  .splide__slide a {
    height: 100%;
  }
}

.splite__slide-wrapper {
  margin-top: 10px;
}
.splite__slide-wrapper img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}
@media (max-width: 780px) {
  .splite__slide-wrapper img {
    object-fit: contain;
  }
}

.splide__pagination {
  bottom: -1em !important;
}
@media (max-width: 780px) {
  .splide__pagination {
    bottom: -1rem !important;
  }
}

.splide__slide-descr {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 20%;
}
@media (max-width: 780px) {
  .splide__slide-descr {
    display: none;
  }
}

.splide__slide-title,
.splide__slide-tools {
  font-weight: 500;
  font-size: 18px;
  color: var(--neutral-gray202020);
  margin-top: 10px;
}

.splide__pagination__page {
  width: 14px !important;
  height: 14px !important;
  margin-left: 8px !important;
  margin-right: 8px !important;
}
@media (max-width: 780px) {
  .splide__pagination__page {
    width: 8px !important;
    height: 8px !important;
  }
}

.splide__pagination__page.is-active {
  background: var(--neutral-graydfdfdf) !important;
}

.splide__arrow--next {
  right: 10px !important;
  background: #c7f5ff !important;
}

.splide__arrow--prev {
  left: 10px !important;
  background: #c7f5ff !important;
}

.splide__arrow svg {
  fill: #335fda !important;
}
.splide__arrow svg:hover {
  fill: #050176;
}

.skills-tech-title,
.skills-nontech-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
  color: var(--neutral-gray0c0c0c);
}

.skills__grid {
  display: grid;
  grid-template-columns: repeat(2, 48%);
  justify-content: space-between;
}
@media (max-width: 780px) {
  .skills__grid {
    grid-template-columns: 1fr;
  }
}
.skills__grid div {
  padding: 30px;
  border: 1px solid var(--neutral-graycbcbcb);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 8px;
}

@media (max-width: 780px) {
  .skills-tech {
    padding: 20px;
  }
}

.skills__desc {
  display: flex;
  align-items: flex-start;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 18px;
  color: var(--neutral-gray404040);
}
@media (max-width: 780px) {
  .skills__desc {
    margin-bottom: 5px;
  }
}
@media (max-width: 1274px) {
  .skills__desc {
    margin-bottom: 6px;
  }
}
.skills__desc::before {
  content: "";
  display: inline-block;
  min-width: 20px;
  height: 20px;
  background-image: url("./../img/skills/right-arrow.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 8px;
}

.swiper {
  width: 100%;
  padding-bottom: 32px !important;
}
@media (max-width: 780px) {
  .swiper {
    padding-bottom: 20px !important;
  }
}

@media (max-width: 780px) {
  .swiper-slide {
    height: 50vw !important;
  }
}

.swiper-pagination-bullet {
  width: 14px !important;
  height: 14px !important;
  background-color: var(--neutral-grayadadad) !important;
  opacity: 1 !important;
}
@media (max-width: 780px) {
  .swiper-pagination-bullet {
    width: 8px !important;
    height: 8px !important;
  }
}

.swiper-pagination-bullet-active {
  background-color: var(--neutral-graydfdfdf) !important;
  transform: scale(1.4) !important;
}

.swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin-left: 8px !important;
  margin-right: 8px !important;
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: 0 !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-weight: 900;
  font-size: 50 !important;
}

.title {
  margin-bottom: 30px;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  line-height: 140%;
  text-align: center;
  text-transform: capitalize;
  color: var(--black);
}
@media (max-width: 780px) {
  .title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 16px;
  }
}

.tools__grid {
  display: grid;
  grid-template-columns: repeat(8, auto);
  grid-template-rows: repeat(2, auto);
  column-gap: 20px;
  row-gap: 30px;
}
@media (max-width: 1274px) {
  .tools__grid {
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(4, auto);
    row-gap: 20px;
  }
}
@media (max-width: 780px) {
  .tools__grid {
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(8, auto);
    column-gap: 10px;
    row-gap: 10px;
  }
}

.tools__grid-item {
  display: flex;
  flex-direction: column;
  padding: 10px 5px 5px 10px;
  height: 100px;
  border: 1px solid var(--neutral-graycbcbcb);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  border-radius: 8px;
}

.tools__grid-title {
  margin-top: 10px;
  font-weight: 500;
  font-size: 18px;
  color: var(--neutral-gray606060);
}
.tools__grid-title::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 2px solid var(--neutral-gray606060);
  border-radius: 50%;
  margin-right: 5px;
  margin-bottom: 3px;
}

.tools__grid-icon {
  display: inline-block;
  width: 100%;
  height: 32px;
  background-color: #fff;
  background-size: contain;
  background-repeat: no-repeat;
}

.postman {
  background-image: url("./../img/tools/postman.svg");
}

.insomnia {
  background-image: url("./../img/tools/insomnia.svg");
}

.android {
  background-image: url("./../img/tools/android.svg");
}

.charles {
  background-image: url("./../img/tools/charles.png");
}

.devtools {
  background-image: url("./../img/tools/devtools.svg");
}

.databases {
  background-image: url("./../img/tools/databases.png");
}

.html {
  background-image: url("./../img/tools/html.png");
}

.css {
  background-image: url("./../img/tools/css.svg");
}

.js {
  background-image: url("./../img/tools/js.svg");
}

.jquery {
  background-image: url("./../img/tools/jquery.png");
}

.ajax {
  background-image: url("./../img/tools/ajax.png");
}

.react {
  background-image: url("./../img/tools/react.png");
}

.php {
  background-image: url("./../img/tools/php.png");
}

.laravel {
  background-image: url("./../img/tools/laravel.png");
}

.rest-api {
  background-image: url("./../img/tools/rest-api.png");
}

.node {
  background-image: url("./../img/tools/node.png");
}

/* No styles code below. Only in modules */
/* Не пишите CSS код ниже. Только в подключаемых файлах */